<section id="wedding">
    <h1 class="section-title">Birthday <span>photography</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/birthday/IMG_6929.JPG">
        </div>

        <div class="second-part">
            <img src="/images/birthday/IMG_6890.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Birthdays</h1>
            <p class="thirdp" >The photo session preserves an emotional and warm memory of the birthday of each child who grows and changes imperceptibly. A warm memory that you will be able to return to over time and enjoy the beautiful photos.</p>
        </div>

     </div>

    <div class="wedding container">
      <div class="col-left">
        <div class="weddingimg">
          <img src="/images/birthday/IMG_6878.JPG" alt="img">
        </div>
       
      </div>
      <div class="col-right">
        
        <img class='secondphoto' src="/images/birthday/IMG_6858.JPG">
      </div>
    </div>

   
      
    </div>

    
    
  </section>