<section id="wedding">
    <h1 class="section-title">Flower <span>photoshoot</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/flower/IMG_7536.JPG">
        </div>

        <div class="second-part">
            <img src="/images/flower/IMG_7541.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Flower</h1>
            <p class="thirdp" >A flower photoshoot with a person can be a beautiful and memorable experience. The bright colors and fragrant scents of the blooms create a stunning backdrop for the subject, and the natural lighting provides a soft and flattering glow. </p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/flower/IMG_7561.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/flower/IMG_7656.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/flower/IMG_7681.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>