<section id="wedding">
    <h1 class="section-title">Newspaper Background <span>Photoshoot</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/newspaper/IMG_7806.jpg">
        </div>

        <div class="second-part">
            <img src="/images/newspaper/IMG_7824.jpg">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Newspaper Background</h1>
            <p class="thirdp" >Are you looking for indoor photo shoot ideas? Here is the newspaper backdrop I set up in my apartment this past weekend!</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/newspaper/IMG_7806.jpg">
        </div>
        <div class="euphoriasecond">
            <img src="/images/newspaper/IMG_7921.jpg">
        </div>
        <div class="euphoriathird">
            <img src="/images/newspaper/IMG_7833.jpg">
        </div>
    </div>

   
      
    </div>

    
    
  </section>