<section id="wedding">
    <h1 class="section-title">Portrait <span>Photography</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/portrait/IMG_8323.jpg">
        </div>

        <div class="second-part">
            <img src="/images/portrait/IMG_8330.jpg">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Portrait</h1>
            <p class="thirdp" >What does a portrait photo bring us - emotion, memory, experience... A good portrait photography has no material dimension, but it can be felt in the smile of the one who looks at it.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/portrait/IMG_8355.jpg">
        </div>
        <div class="euphoriasecond">
            <img src="/images/portrait/IMG_8347.jpg">
        </div>
        <div class="euphoriathird">
            <img src="/images/portrait/IMG_8360.jpg">
        </div>
    </div>

   
      
    </div>

    
    
  </section>