<section id="wedding">
    <h1 class="section-title">Prom <span>photoshoot</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/prom/IMG_7020.JPG">
        </div>

        <div class="second-part">
            <img src="/images/prom/IMG_7035.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Prom</h1>
            <p class="thirdp" >Prom sessions can be groups, couples or individual or a combo of all. It is a time to stop and freeze this time. While some schools are having proms in a new fashion, and some groups are planning their own gatherings. If you have your dress and are ready, make sure you capture prom moments, prom is milestone for many high schoolers, and moments you look back on.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/prom/IMG_7053.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/prom/IMG_7068.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/prom/IMG_7078.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>