<section id="wedding">
    <h1 class="section-title">Prom <span>photoshoot</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/prom/IMG_7053.jpg">
        </div>

        <div class="second-part">
            <img src="/images/prom/IMG_7068.jpg">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Prom</h1>
            <p class="thirdp" >Prom sessions can be groups, couples or individual or a combo of all. It is a time to stop and freeze this time. While some schools are having proms in a new fashion, and some groups are planning their own gatherings.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/prom/IMG_7055.jpg">
        </div>
        <div class="euphoriasecond">
            <img src="/images/prom/IMG_6999.jpg">
        </div>
        <div class="euphoriathird">
            <img src="/images/prom/IMG_7072.jpg">
        </div>
    </div>

   
      
    </div>

    
    
  </section>