<section id="wedding">
    <h1 class="section-title">Wedding <span>photography</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/wedding/IMG_6797.JPG">
        </div>

        <div class="second-part">
            <img src="/images/wedding/IMG_6754.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Weddings</h1>
            <p class="thirdp" >You're about to throw the most epic party for your friends and family? We will be your ride or die. Our job is to catch every second, so you and your loved ones can just let go and live in the moment. You feel like we could vibe? Leave us a message and let’s get this party started.</p>
        </div>

     </div>

    <div class="wedding container">
      <div class="col-left">
        <div class="weddingimg">
          <img src="/images/wedding/IMG_6840.JPG" alt="img">
        </div>
       
      </div>
      <div class="col-right">
        
        <img class='secondphoto' src="/images/wedding/IMG_6781.JPG">
      </div>
    </div>

   
      
    </div>

    
    
  </section>