<section id="wedding">

      <div class="me">

        <div class="left-me">
            <img src="/images/mephoto.jpg">
        </div>

        

        <div class="textme">
            <h1 class="myname" >Нека сътворим нещо заедно!</h1>
            <p class="myp" >Повярвайте ми – всеки се чувства неудобно пред камерата... Моята работа е да се погрижа никога да не се налага да се чудите: „Какво правя с ръцете си?“ Тук съм, за да ви насоча към споделени моменти, а не да правя снимка, на която позирате.</p>
<p class="myp">Вдъхновена и очарована от връзката, моята страст е разказването на истории и искам да помогна да разкажа историята на вашия живот и любов! Ще отделя време, за да науча вашите предпочитания, за да можем да създадем изображения, които говорят за това кой сте вие ​​– изображения, които са подбрани моменти, предназначени да покажат вашето чисто, красиво, странно, автентично аз. Нека да заснемем вашата индивидуална история във визуална форма..
</p>
        </div>

     </div>

    

   
      
    </div>

    
    
  </section>