<section class = "maingallery">
            <div class = "container">
                <div class = "gallery">
                    <a href="/bg/wedding">
                        <div class="single-img">
                            <img src="/images/wedding/IMG_6840.JPG" alt = "gallery image">
                            <div class="single-img-content">
                                <h3 class="blackthing">Сватби</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/birthday">
                        <div class = "single-img">
                            <img src = "/images/birthday/IMG_6890.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Рождени дни</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/kids">
                        <div class = "single-img">
                            <img src = "/images/christmas/IMG_3793.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Детска фотосесия</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/christmasphoto">
                        <div class = "single-img">
                            <img src = "/images/vilichristmas/IMG_3696.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Коледна фотосесия</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/marketing">
                        <div class = "single-img">
                            <img src = "/images/tshirt/IMG_3413.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Рекламна фотосесия</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/nightphotos">
                        <div class = "single-img">
                            <img src = "/images/nightphotos/IMG_2078.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Нощна фотосесия</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/portrait">
                        <div class = "single-img">
                            <img src = "/images/irina/IMG_4024.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Портретна фотография</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/blackandwhite">
                        <div class = "single-img">
                            <img src = "/images/blackandwhite/IMG_1896.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Черно&Бяло</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/euphoria">
                        <div class = "single-img">
                            <img src = "/images/euphoria/t01.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Еуфория парти</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/flower">
                        <div class = "single-img">
                            <img src = "/images/flower/IMG_7656.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Цветя</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/bg/prom">
                        <div class = "single-img">
                            <img src = "/images/prom/IMG_7068.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Абитуриентски бал</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>