<section class="section-one">
    <div class="container">
        <div class="sec-one-left">
            <div>
                <h3>Малко за мен</h3>
                <p>Здравей, казвам се Петя! Аз съм пътешественик & фотограф. Моята страст е да разказвам истории чрес снимки. </p>
                <a href="/bg/about" class="btn">За мен</a>
            </div>
        </div>

        <div class="sec-one-right">
            <div class="nzm-content">
                <h3>ТЪРСЯ АВТЕНТИЧНА ВРЪЗКА, ИСТИНСКА ЕМОЦИЯ, СМЯХ, МОМЕНТИТЕ, ИСТИНСКИЯТ ТИ И ИСТИНСКИЯ
                    АЗ.</h3>
                <p>
                    Толкова съм развълнувана да помогна да уловите всички моменти, които винаги ще искате да помните. Моят стил е свързан с документирането на вашата любов по естествен и носталгичен начин. Наистина искам да ви опозная, преди дори да започнем да снимаме. Надявам се, че ще забравите за фотоапарата и ще си тръгнете с нов приятел и красиви снимки без усилия. Най-важното е, че искам да документирам любовта ви точно по начина, по който изглежда и се чувства, за да могат спомените ви да живеят завинаги.
                </p><a href="/bg/gallery" class="btn">Още</a>
            </div>
            <div class="nzm-imgs">
                <div class="nzm-img-1">
                    <img src="/images/IMG_4389.jpg">
                </div>
                <div class="nzm-img-2">
                    <img src="/images/IMG_4292.jpg">
                </div>
            </div>
        </div>
    </div>
</section>