<section id="wedding">

      <div class="me">

        <div class="left-me">
            <img src="/images/mephoto.jpg">
        </div>

        

        <div class="textme">
            <h1 class="myname" >Let's create something together</h1>
            <p class="myp" >Trust me--Everyone feels awkward in front of the camera... It's my job to make sure you never have to wonder: "What do I do with my hands?" I'm here to guide you into shared moments and not snap a pic of you posing.</p>

<p class="myp">Inspired and fascinated by connection, my passion is storytelling, and I want to help tell the story of your life and love! I will take the time to learn your journey, so we can create images which speak to who you are--Images which are curated moments, meant to showcase your pure, beautiful, quirky, authentic self. Let's capture your individual story, in visual form..
</p>
        </div>

     </div>

    

   
      
    </div>

    
    
  </section>