<section class = "maingallery">
            <div class = "container">
                <div class = "gallery">
                    <a href = "/en/flower">
                        <div class = "single-img">
                            <img src = "/images/flower/IMG_7563.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Flower photoshoot</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/en/newspaper">
                        <div class = "single-img">
                            <img src = "/images/newspaper/IMG_7833.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Newspaper Background</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/en/portrait">
                        <div class = "single-img">
                            <img src = "/images/portrait/IMG_8323.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Portrait Photography</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/en/marketing">
                        <div class = "single-img">
                            <img src = "/images/tshirt/IMG_3413.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Marketing photoshoot</h3>
                            </div>
                        </div>
                    </a>

                    <a href="/en/wedding">
                        <div class="single-img">
                            <img src="/images/wedding/IMG_6840.JPG" alt = "gallery image">
                            <div class="single-img-content">
                                <h3 class="blackthing">Weddings</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/en/blackandwhite">
                        <div class = "single-img">
                            <img src = "/images/blackandwhite/IMG_1896.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Black&White</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/en/birthday">
                        <div class = "single-img">
                            <img src = "/images/birthday/IMG_6890.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Birthdays</h3>
                            </div>
                        </div>
                    </a>

                     <a href = "/en/nightphotos">
                        <div class = "single-img">
                            <img src = "/images/nightphotos/IMG_2078.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Night photoshoot</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/en/prom">
                        <div class = "single-img">
                            <img src = "/images/prom/IMG_7068.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3 class="blackthing">Prom photoshoot</h3>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </section>