<section class = "section-three">
            <div class = "container">
                <div class = "gallery">
                    <a href="/wedding">
                        <div class = "single-img">
                            <img src = "/images/wedding/IMG_6840.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Weddings</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/birthday">
                        <div class = "single-img">
                            <img src = "/images/birthday/IMG_6890.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Birthdays</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/kids">
                        <div class = "single-img">
                            <img src = "/images/christmas/IMG_3793.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Kids photoshoot</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/christmasphoto">
                        <div class = "single-img">
                            <img src = "/images/vilichristmas/IMG_3696.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Christmas photoshoot</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/marketing">
                        <div class = "single-img">
                            <img src = "/images/tshirt/IMG_3413.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Marketing photoshoot</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/nightphotos">
                        <div class = "single-img">
                            <img src = "/images/nightphotos/IMG_2078.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Night photoshoot</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/portrait">
                        <div class = "single-img">
                            <img src = "/images/irina/IMG_4024.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Portrait Photography</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/blackandwhite">
                        <div class = "single-img">
                            <img src = "/images/blackandwhite/IMG_1896.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Black&White</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "/euphoria">
                        <div class = "single-img">
                            <img src = "/images/euphoria/t01.JPG" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Euphoria Party</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>