<section class="section-one">
    <div class="container">
        <div class="sec-one-left">
            <div>
                <h3>A LITTLE BIT ABOUT ME</h3>
                <p>Hey, I'm Petya! I'm a traveller & photographer. My passion is telling stories through a camera. </p>
                <a href="/en/about" class="btn">About me</a>
            </div>
        </div>

        <div class="sec-one-right">
            <div class="nzm-content">
                <h3>I SEEK AUTHENTIC CONNECTION, RAW EMOTION, THE LAUGHS, THE IN-BETWEEN MOMENTS, THE REAL YOU & REAL
                    ME.</h3>
                <p>I'm so excited to help capture all the moments you're always going to want to remember. My style is
                    all about documenting your love in a natural and nostalgic way. I truly care to get to know you
                    before we even start shooting. My hope is that you'll forget about the camera, leave with a new
                    friend & beautiful effortless photos. Most importantly, I want to document your love for exactly the
                    way it looks and feels so your memories can live on forever and ever.</p>
                <a href="/en/gallery" class="btn">view all</a>
            </div>
            <div class="nzm-imgs">
                <div class="nzm-img-1">
                    <img src="/images/IMG_4389.jpg">
                </div>
                <div class="nzm-img-2">
                    <img src="/images/IMG_4292.jpg">
                </div>
            </div>
        </div>
    </div>
</section>