<section id="wedding">
    <h1 class="section-title">Черно&Бялa <span>фотосесия</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/blackandwhite/IMG_1911.JPG">
        </div>

        <div class="second-part">
            <img src="/images/blackandwhite/IMG_1900.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Черно&Бяло</h1>
            <p class="thirdp" >Черно-бялата фотосесия е най-въздействащия клон на фотографията. Черно-бялото придава класически вид на снимките. Казват, че когато искаш да надникнеш дълбоко в душите на хората, използваш черно-бял цвят. Черно-бялата фотография е откровена и истинска.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/blackandwhite/IMG_1883.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/blackandwhite/IMG_1896.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/blackandwhite/IMG_1915.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>