<section id="wedding">
    <h1 class="section-title">Детска <span>фотосесия</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/christmas/IMG_3793.JPG">
        </div>

        <div class="second-part">
            <img src="/images/christmas/IMG_3864.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Детска фотосесия</h1>
            <p class="thirdp" >Подарете фотосесия на вашето дете! Детската фотосесия е истинско предизвикателство. Да улавяш необичайните моменти и непринудените усмивки. Тези снимки носят настроение и имат истинска художествена стойност.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/christmas/IMG_3848.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/christmas/IMG_3889.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/christmas/IMG_3897.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>