<section id="wedding">
    <h1 class="section-title">Еуфория <span>парти</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/euphoria/m01.jpg">
        </div>

        <div class="second-part">
            <img src="/images/euphoria/t01.jpg">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Еуфория</h1>
            <p class="thirdp" >Време е за парти! Съберете се, забавлявайте се, както само вие си знаете и запечатайте този вълнуващ момент.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/euphoria/t02.jpg">
        </div>
        <div class="euphoriasecond">
            <img src="/images/euphoria/eume.jpg">
        </div>
        <div class="euphoriathird">
            <img src="/images/euphoria/m02.jpg">
        </div>
    </div>

   
      
    </div>

    
    
  </section>