<section id="wedding">
    <h1 class="section-title">фотосесия с <span>цветя</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/flower/IMG_7536.JPG">
        </div>

        <div class="second-part">
            <img src="/images/flower/IMG_7541.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Цветя</h1>
            <p class="thirdp" >Фотосесията на цветя с човек може да бъде красиво и запомнящо се преживяване. Ярките цветове и ароматните аромати на цъфтежа създават зашеметяващ фон за обекта, а естественото осветление осигурява мека и ласкателна светлина.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/flower/IMG_7561.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/flower/IMG_7656.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/flower/IMG_7681.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>