<section id="wedding">
    <h1 class="section-title">Портретна <span>фотография</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/irina/IMG_3918.JPG">
        </div>

        <div class="second-part">
            <img src="/images/irina/IMG_3920.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Портретна фотография</h1>
            <p class="thirdp" >Какво ни носи една портретна снимка-емоция, спомен, преживяване... Една хубава портретна форография няма материално измерение, но може да се усети на усмивката на този, който я гледа.</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/irina/IMG_3923.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/irina/IMG_3935.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/irina/IMG_4024.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>