<section id="wedding">
    <h1 class="section-title">Фотосесия на фона на <span>вестници</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/newspaper/IMG_7806.jpg">
        </div>

        <div class="second-part">
            <img src="/images/newspaper/IMG_7824.jpg">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Фотосесия</h1>
            <p class="thirdp" >Търсите идеи за фотосесия на закрито? Ето фона от вестниците, който поставих в апартамента си миналия уикенд!</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/newspaper/IMG_7807.jpg">
        </div>
        <div class="euphoriasecond">
            <img src="/images/newspaper/IMG_7921.jpg">
        </div>
        <div class="euphoriathird">
            <img src="/images/newspaper/IMG_7833.jpg">
        </div>
    </div>

   
      
    </div>

    
    
  </section>