<section id="wedding">
    <h1 class="section-title">Нощна <span>фотосесия</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/nightphotos/IMG_2078.JPG">
        </div>

        <div class="second-part">
            <img src="/images/nightphotos/IMG_2026.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Нощна фотосесия</h1>
            <p class="thirdp" >Нощта е времето, в което могат да се създадат едни от най-интересните снимки. Нощната фотография е магията, която ме вдъхновява да будувам и вярвам, че снимките ми ще ви помогнат да се докоснете до нея!</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/nightphotos/IMG_2027.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/nightphotos/IMG_2065.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/nightphotos/IMG_2091.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>