<section id="wedding">
    <h1 class="section-title">Абитуриентски <span>бал</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/prom/IMG_7053.JPG">
        </div>

        <div class="second-part">
            <img src="/images/prom/IMG_7068.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Абитуриентски бал</h1>
            <p class="thirdp" >Абитуриентските сесии могат да бъдат групови, двойки или индивидуални или комбинация от всички. Време е да спрете и да замръзнете този път. Докато някои училища провеждат балове по нов начин, а някои групи планират свои собствени събирания. </p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/prom/IMG_7055.jpg">
        </div>
        <div class="euphoriasecond">
            <img src="/images/prom/IMG_6999.jpg">
        </div>
        <div class="euphoriathird">
            <img src="/images/prom/IMG_7072.jpg">
        </div>
    </div>

   
      
    </div>

    
    
  </section>