<section id="wedding">
    <h1 class="section-title">Рекламна <span>фотосесия</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/tshirt/IMG_3457.JPG">
        </div>

        <div class="second-part">
            <img src="/images/tshirt/IMG_3416.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Рекламна фотосесия</h1>
            <p class="thirdp" >"Snap Studio" може успешно да съдейства за заснемане на висококачествени снимки за нуждите на вашите бизнес начинания.</p>
        </div>

     </div>

    <div class="wedding container">
      <div class="col-left">
        <div class="weddingimg">
          <img src="/images/tshirt/IMG_3413.JPG" alt="img">
        </div>
       
      </div>
      <div class="col-right">
        
        <img class='secondphoto' src="/images/tshirt/IMG_3470.JPG">
      </div>
    </div>

   
      
    </div>

    
    
  </section>