<section id="wedding">
    <h1 class="section-title">Коледна <span>фотосесия</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/vilichristmas/IMG_3696.JPG">
        </div>

        <div class="second-part">
            <img src="/images/vilichristmas/IMG_3594.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Коледна фотосесия</h1>
            <p class="thirdp" >Коледните празници остават в спомените ни, като едни от най-топлите и семейни моменти. "Snap Studio" ще се погрижи да запечати тези моменти в красиви снимки!</p>
        </div>

     </div>

    <div class="euphoria">
        <div class="euphoriafirst">
            <img src="/images/vilichristmas/IMG_3626.JPG">
        </div>
        <div class="euphoriasecond">
            <img src="/images/vilichristmas/IMG_3692.JPG">
        </div>
        <div class="euphoriathird">
            <img src="/images/vilichristmas/IMG_3579.JPG">
        </div>
    </div>

   
      
    </div>

    
    
  </section>