<section id="wedding">
    <h1 class="section-title">Сватбена <span>фотография</span></h1>

      <div class="secondwedding">

        <div class="left-part">
            <img src="/images/wedding/IMG_6797.JPG">
        </div>

        <div class="second-part">
            <img src="/images/wedding/IMG_6754.JPG">
        </div>

        <div class="third-part">
            <h1 class="thirdname" >Сватба</h1>
            <p class="thirdp" >Сватбата е специален ден в живота на всеки човек. Тя бележи началото на създаване на ново семейство и сватбената фотография остава като спомен от този момент. За мен като фотограф ще бъде чест да разкажа по незабравим начин вашата сватбена история.</p>
        </div>

     </div>

    <div class="wedding container">
      <div class="col-left">
        <div class="weddingimg">
          <img src="/images/wedding/IMG_6840.JPG" alt="img">
        </div>
       
      </div>
      <div class="col-right">
        
        <img class='secondphoto' src="/images/wedding/IMG_6781.JPG">
      </div>
    </div>

   
      
    </div>

    
    
  </section>